//TYPOGRAPHY
$font-poppins: 'Poppins';
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-regular: 400;

// desktop
$font-header-1: 3rem;
$font-header-2: 2.25rem;
$font-body-1: 2rem;
$font-body-2: 1.25rem;
$font-lebel-1: 1.25rem;
$font-label-2: 1rem;

//mobile
$font-header-mobile-1: 2rem;
$font-header-mobile-2: 1.5rem;
$font-body-mobile-1: 1.25rem;
$font-body-mobile-2: 1rem;
$font-lebel-mobile1: 1rem;
$font-label-mobile2: 0.875rem;

//COLORS
$primary: #0066ff;
$primary-dark: #0147ae;
$primary-light: #84b5ff;

$color-black: #1c1b1f;
$color-white: #ffffff;
$color-gray: #a3a6aa;

// MEASURES
$button-primary-paddings: 12px 24px 12px 24px;
